*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: seashell;
    display: flex;
    justify-content: center;
}
.calculator{
    border: 1px solid black;
    margin-top: 23px;
    width: 300px;
    /* height: 300px; */
    padding: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}
#result{
    width: 100%;
    padding: 10px;
    font-size: 22px;
    border: none;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3) inset;
    border-radius: 6px;
}
.buttons{
    display: flex;
    flex-flow: wrap;
    margin-top: 20px;
    justify-content: center;
}
button{
    padding: 17px;
    font-size: 24px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
button:hover{
    background-color: #ddd;
}
.clear{
    background-color: red;
    color: white;
}
.number, .decimal{
    background-color: white;
    color: black;
}
.operator{
    padding: 20px;
    background-color: rgb(76, 76, 226);
    color: white;
}
.equal{
    background-color: greenyellow;
    color: white;
}
